<br>
<br>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tareas</th>
            <th scope="col">Piso </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of collectionGraphicFloor; let i = index">
            <th scope="row"> {{ i+1 }} </th>
            <td>{{item.task.name}}</td>
            <td *ngFor="let item2 of item.floors; let i2 = index">{{item2.status}}</td>
        </tr>
    </tbody>
</table>