<br>
<br>
<h5 class="card-title" *ngIf="this.collectionEmployeeSubTasks.length > 0"><i class="fas fa-tasks configureIcon"></i> Porgreso Faenas del Proyecto {{this.collectionEmployeeSubTasks[0].project.name}}</h5>
<h5 class="card-title" *ngIf="this.collectionEmployeeSubTasks.length === 0"><i class="fas fa-tasks configureIcon"></i> Porgreso Faenas del Proyecto</h5>
<br>
<h6 class="card-title" *ngIf="this.collectionEmployeeSubTasks.length > 0"><i class="fas fa-percent configureIcon"></i> Faena {{this.collectionEmployeeSubTasks[0].task.name}} / Tarea {{this.collectionEmployeeSubTasks[0].subTask.name}}</h6>
<h6 class="card-title" *ngIf="this.collectionEmployeeSubTasks.length === 0"><i class="fas fa-percent configureIcon"></i> Faena / Tarea</h6>
<br>
<div *ngIf="type!='0'">
    <table class="table table-bordered" style="font-size: 12px">
        <thead>
            <tr>
                <th scope="col" class="text-center"></th>
                <th scope="col" class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="text-center">{{numberFloor}}</th>
                <td class="text-center" [ngClass]="{'red': this.status <= 49, 'yellow': this.status >= 50 && this.status <= 74, 'greenSoft': this.status >= 75 && this.status <= 99, 'green': this.status === 100}">{{ this.status | number }}%</td>
            </tr>
            <tr>
                <th scope="row" class="text-center">Faena</th>
                <td class="text-center"><span>{{this.collectionEmployeeSubTasks[0].task.name}}</span></td>
            </tr>
            <tr>
                <th scope="row" class="text-center">Tarea</th>
                <td class="text-center"><span>{{this.collectionEmployeeSubTasks[0].subTask.name}}</span></td>
            </tr>
            <tr>
                <th scope="row" class="text-center">Total Horas</th>
                <td class="text-center"><span>{{totalHours}}</span></td>
            </tr>
            <tr>
                <th scope="row" class="text-center">Trabajadores</th>
                <td class="text-center">
                    <table class="table table-bordered" style="font-size: 12px">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">Nombre</th>
                                <th scope="col" class="text-center">Fecha</th>
                                <th scope="col" class="text-center">Horas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of collectionEmployeeSubTasks; let i = index">
                                <th scope="row" class="text-left">{{item.employee.name}}</th>
                                <td class="text-center">{{item.recordDate | date:'dd/MM/yyyy'}}</td>
                                <td class="text-center">{{item.hoursWorked}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="this.collectionEmployeeSubTasks.length > 0">
    <div *ngIf="type==='0'">
        <table class="table table-bordered" style="font-size: 12px">
            <thead>
                <tr>
                    <th scope="col" class="text-center"></th>
                    <th scope="col" class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="text-center">Piso {{this.collectionEmployeeSubTasks[0].floor.number}} {{numberFloor}}</th>
                    <td class="text-center" [ngClass]="{'red': this.status <= 49, 'yellow': this.status >= 50 && this.status <= 74, 'greenSoft': this.status >= 75 && this.status <= 99, 'green': this.status === 100}">{{this.status}}%</td>
                </tr>
                <tr>
                    <th scope="row" class="text-center">Faena</th>
                    <td class="text-center"><span>{{this.collectionEmployeeSubTasks[0].task.name}}</span></td>
                </tr>
                <tr>
                    <th scope="row" class="text-center">Tarea</th>
                    <td class="text-center"><span>{{this.collectionEmployeeSubTasks[0].subTask.name}}</span></td>
                </tr>
                <tr>
                    <th scope="row" class="text-center">Total Horas</th>
                    <td class="text-center"><span>{{totalHours}}</span></td>
                </tr>
                <tr>
                    <th scope="row" class="text-center">Trabajadores</th>
                    <td class="text-center">
                        <table class="table table-sm table-bordered" style="font-size: 12px">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">Nombre</th>
                                    <th scope="col" class="text-center">Fecha</th>
                                    <th scope="col" class="text-center">Horas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of collectionEmployeeSubTasks; let i = index">
                                    <th scope="row" class="text-left">{{item.employee.name}}</th>
                                    <td class="text-center">{{item.recordDate | date:'dd/MM/yyyy'}}</td>
                                    <td class="text-center">{{item.hoursWorked}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="this.collectionEmployeeSubTasks.length === 0">
    <br>
    <h5 class="card-title" style="text-align: center;">No se han registrado horas a esta Faena / Tarea</h5>
    <br>
</div>


<div class="row">
    <div class="col-md-12 text-right">
        <button class="btn btn-secondary" (click)="back()">Regresar</button>
    </div>
</div>
<br>
<br>