<br>
<br>
<h5 class="card-title"><i class="fas fa-tasks configureIcon"></i> Porgreso Faenas del Proyecto {{nameProject}}</h5>
<br>
<h6 class="card-title"><i class="fas fa-percent configureIcon"></i> Detalle Faena {{nameTask}} Piso {{numberFloor}}º </h6>
<br>
<div class="table-responsive animated fadeIn fast">
    <table class="table table-sm table" style="font-size: 12px">
        <thead>
            <tr>
                <th scope="col" class="text-center">Nº</th>
                <th scope="col" class="text-center">Tarea</th>
                <th class="text-center" *ngFor="let item of collectionGraphiDepartments[0].departments; let i = index" scope="col">Dpto {{item.number}}º</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of collectionGraphiDepartments; let i = index">
                <th scope="row" class="text-center"> {{item.subTask.position}}</th>
                <td>{{item.subTask.name}}</td>
                <td (click)="detailByDepartment(item2._id,item.subTask._id)" class="text-center" style="cursor: pointer" [ngClass]="{'red': item2.status <= 49, 'yellow': item2.status >= 50 && item2.status <= 74, 'greenSoft': item2.status >= 75 && item2.status <= 99, 'green': item2.status === 100}"
                    *ngFor="let item2 of item.departments; let i2 = index">{{ item2.status | number }}%</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-12 text-right">
        <button class="btn btn-secondary" (click)="back()">Regresar</button>
    </div>
</div>