<div *ngIf="idTask">


    <app-form-task #task title="Editar Faena" [(idTask)]="idTask"> </app-form-task>

    <div *ngIf="userTemp.role.match('ADMINISTRADOR') || userTemp.role.match('CARGA')" class="row">
        <div class="col-md-12 text-right">
            <button (click)="save(task.getTask())" class="btn btn-secondary" [disabled]="!task.form.valid">
                  Guardar
                  </button>
            <button class="btn btn-secondary" (click)="back()">Regresar</button>
        </div>
    </div>

</div>