<div *ngIf="itemTask">

      <app-form-task   #task title="Editar Faena" [itemTask] = "itemTask" ></app-form-task>

      <div class="row">
      <div class="col-md-12 text-right">
            <button (click)="save(task.getTask())"
                        class="btn btn-outline-success"
                        [disabled] = "!task.form.valid">
                  Guardar
                  </button> 
            <button class="btn btn-outline-secondary" (click)="back()">Regresar</button> 
      </div>    
      </div>

</div>