<nav class="navbar navbar-expand-md navbar-default">
    <a class="" [routerLink]="['/pages/home']">
        <img style="width: 100px; height: auto;" src="../assets/img/logo.png" alt="JCA">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="navbarText">

        <ul *ngIf="userTemp.role.match('ADMINISTRADOR')" class="navbar-nav mr-auto">
            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Adm. Proyectos
                </a>
                <div class="dropdown-menu animated fadeIn fast"  style="margin-top: 30px" aria-labelledby="navbarDropdown">
                    <a class="nav-link" [routerLink]="['/pages/projects']">Proyectos</a>
                    <a class="nav-link" [routerLink]="['/pages/tasks']">Faenas</a>
                    <a class="nav-link" [routerLink]="['/pages/subTasks']">Tareas</a>
                </div>
            </li>

            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Avances
                </a>
                <div class="dropdown-menu animated fadeIn fast rounded" style="margin-top: 30px" aria-labelledby="navbarDropdown">
                    <a class="nav-link" [routerLink]="['/pages/assignTasks']">Cargar Horas</a>
                    <a class="nav-link" [routerLink]="['/pages/employeeSubTask']">Consultar Horas</a>
                    <a class="nav-link" [routerLink]="['/pages/editHours']">Editar Horas</a>
                    <a class="nav-link" [routerLink]="['/pages/updateProgress']">Actualizar Avance</a>


                </div>
            </li>

            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Adm. Personal
                </a>
                <div class="dropdown-menu animated fadeIn fast" style="margin-top: 30px" aria-labelledby="navbarDropdown">
                    <a class="nav-link" [routerLink]="['/pages/positions']">Cargos</a>
                    <a class="nav-link" [routerLink]="['/pages/employees']">Empleados</a>
                    <a class="nav-link" [routerLink]="['/pages/user']">Usuarios Sistema</a>
                </div>
            </li>
        </ul>

        <ul *ngIf="userTemp.role.match('CARGA')" class="navbar-nav mr-auto">
            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Adm. Proyectos
                </a>
                <div class="dropdown-menu"  aria-labelledby="navbarDropdown">
                    <a class="nav-link" [routerLink]="['/pages/projects']">Proyectos</a>
                    <a class="nav-link" [routerLink]="['/pages/tasks']">Faenas</a>
                    <a class="nav-link" [routerLink]="['/pages/subTasks']">Tareas</a>
                </div>
            </li>

            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Avances
                </a>
                <div class="dropdown-menu"  aria-labelledby="navbarDropdown">
                    <a class="nav-link" [routerLink]="['/pages/assignTasks']">Cargar Horas</a>
                    <a class="nav-link" [routerLink]="['/pages/employeeSubTask']">Consultar Horas</a>
                </div>
            </li>

            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Adm. Personal
                </a>
                <div class="dropdown-menu"  aria-labelledby="navbarDropdown">
                    <a class="nav-link" [routerLink]="['/pages/positions']">Cargos</a>
                    <a class="nav-link" [routerLink]="['/pages/employees']">Empleados</a>
                </div>
            </li>
        </ul>

        <ul *ngIf="userTemp.role.match('CONSULTA')" class="navbar-nav mr-auto">
            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Adm. Proyectos
                </a>
                <div class="dropdown-menu"  aria-labelledby="navbarDropdown">
                    <a class="nav-link" [routerLink]="['/pages/projects']"><i class="fas fa-building configureIcon"></i>Proyectos</a>
                    <a class="nav-link" [routerLink]="['/pages/tasks']">Faenas</a>
                    <a class="nav-link" [routerLink]="['/pages/subTasks']">Tareas</a>
                </div>
            </li>

            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Avances
                </a>
                <div class="dropdown-menu" style="background-image: linear-gradient(to right top, #393938, #5c5b5a, #818080, #a7a6a7, #cfcfcf);" aria-labelledby="navbarDropdown">
                    <a class="nav-link" [routerLink]="['/pages/employeeSubTask']">Consultar Horas</a>
                </div>
            </li>

            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Adm. Personal
                </a>
                <div class="dropdown-menu"  aria-labelledby="navbarDropdown">
                    <a class="nav-link" [routerLink]="['/pages/positions']">Cargos</a>
                    <a class="nav-link" [routerLink]="['/pages/employees']">Empleados</a>
                </div>
            </li>
        </ul>

        <span class="navbar-text">
        <form>
            <button (click)="logon()" class="btn btn btn-light">
                Cerrar Sesión
            </button>
        </form>
  </span>
    </div>
</nav>




<!--

            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/pages/tasks']">Faenas</a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/pages/subTasks']">Tareas</a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/pages/projects']">Proyectos</a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/pages/positions']">Cargos</a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/pages/employees']">Empleados</a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/pages/user']">Usuarios</a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/pages/assignTasks']">Cargar Horas</a>
            </li>

            -->