<nav class="navbar navbar-expand-md navbar-dark backgroundNavbar">
    <a class="navbar-brand" [routerLink]="['/home']">JCA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/tasks']">Faenas</a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/subTasks']">Tareas</a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/projects']">Proyectos</a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/positions']">Cargos</a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/employees']">Empleados</a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/assignTasks']">Cargar Horas</a>
            </li>
        </ul>
        <span class="navbar-text">
    <button class="btn btn-outline-white">
      Login
    </button>
  </span>
    </div>
</nav>