<form class="main-container" [formGroup]="form">

    <div class="card ">
        <div class="card-body">
            <h5 class="card-title col-md-12"><i class="far fa-clock configureIcon"></i> Consultar Horas por Empleado </h5>

            <div class="row">

                <div class="form-group col-md-6">
                    <label for="">Proyecto: </label>
                    <combo [ngClass]="{'is-invalid':!form.controls['project'].valid && !form.get('project').pristine }" [url]="urlProjects" labelField="name" nameCollection="projects" formControlName="project" (change)="updateId()">
                    </combo>
                    <div *ngIf="!form.get('project').errors?.valid && !form.get('project').pristine" class="invalid-feedback">
                        El proyecto es obligatorio
                    </div>

                </div>


                <div class="form-group col-md-6">
                    <label for="">Empleado: </label>
                    <combo [url]="urlEmployees" formControlName="employee" labelField="employee.rut, employee.name" nameCollection="employeeProjects" nameFather="project" [(idFather)]="idProject" (change)="updateIdEmployee()"></combo>
                </div>

            </div>
        </div>
        <br>
    </div>

    <div class="text-right main-container">
        <button [disabled]="!form.valid" class="btn btn-outline-success" (click)="query()">Consultar</button>
    </div>

</form>

<table class="table table-striped main-container ">
    <thead class="">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Area </th>
            <th scope="col">Tarea </th>
            <th scope="col">Fecha </th>
            <th scope="col">Horas </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of collection; let i = index">
            <th scope="row"> 1 </th>
            <td> {{ item['area'] }} </td>
            <td> {{ item.subTask.name }} </td>
            <td> {{item['recordDate'] | date: "dd/MM/yyyy" }} </td>
            <td> {{ item['hoursWorked'] }}</td>
        </tr>
    </tbody>
</table>