<app-form-position #position [idPosition]="idPosition"></app-form-position>
<div *ngIf="userTemp">
    <div *ngIf="userTemp.role.match('ADMINISTRADOR') || userTemp.role.match('CARGA')" class="row">
        <div class="col-md-12 text-right">
            <button (click)="save(position.getPosition())" class="btn btn-secondary" [disabled]="!position.form.valid">
                  Guardar
             </button>
            <button class="btn btn-secondary" (click)="back()">Regresar</button>
        </div>
    </div>
</div>