<h2 class="main-container">{{ title }}</h2>
<hr>

<div class="row">
    <div class="col-md-6 space-elements">
        <div class="input-group">

            <input [(ngModel)]="term" (keyup.enter)="search()" type="text" class="form-control" placeholder="Buscar..." aria-label="Input group example" aria-describedby="btnGroupAddon">
            <div class="input-group-prepend">
                <button (click)="search()" class="btn btn-secondary" id="btnGroupAddon">Buscar</button>
            </div>

        </div>
    </div>

    <div class="col-md-6 text-right space-elements">
        <a [routerLink]="['/pages/newPosition']" class="btn btn-success">Nuevo Cargo</a>
    </div>

</div>


<table class="table table-striped ">
    <thead class="">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Código</th>
            <th scope="col" class="text-center">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of collection; let i = index">
            <th scope="row"> {{ i+1 }} </th>
            <td>{{ item.name }}</td>
            <td>{{ item.code }}</td>
            <th scope="col" class="text-center">
                <!--button class="btn btn-outline-info"><i class="fas fa-eye"></i></button-->
                <button *ngIf="userTemp.role.match('ADMINISTRADOR') || userTemp.role.match('CARGA')" class="btn btn-primary" (click)="edit(item._id)"><i class="fas fa-edit"></i></button>
                <button *ngIf="userTemp.role.match('ADMINISTRADOR')" class="btn btn-danger" (click)="delete(i)"><i class="far fa-trash-alt"></i></button>
            </th>
        </tr>

    </tbody>
</table>

<pagination #p [(ngModel)]="collection" [url]="model" [term]="term" collectionName="positions" [totalRecords]="totalRecords"></pagination>