<app-form-user #user title="Crear Usuario"></app-form-user>
<div *ngIf="userTemp">
    <div *ngIf="userTemp.role.match('ADMINISTRADOR') || userTemp.role.match('CARGA')" class="row space-elements space-footer">
        <div class="col-md-12 text-right">
            <button (click)="save(user.getUser())" class="btn btn-secondary" [disabled]="!user.form.valid">
                  Guardar
             </button>
            <button class="btn btn-secondary" (click)="back()">Regresar</button>
        </div>
    </div>
</div>
