<h2>Nueva Categoría</h2>

  <div class="form-group">
    <label>Nombre</label>
    <input type="text" class="form-control">
  </div>


  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col" class="text-center" >Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Faena 1</td>
          <th scope="col" class="text-center">
            <button class="btn btn-outline-info">Ver</button>
            <button class="btn btn-outline-primary">Editar</button>
            <button class="btn btn-outline-danger">Eliminar</button>
          </th>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Faena 2</td>
          <th scope="col" class="text-center">
            <button class="btn btn-outline-info">Ver</button>
            <button class="btn btn-outline-primary">Editar</button>
            <button class="btn btn-outline-danger">Eliminar</button>
          </th>        
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Faena 3</td>
          <th scope="col"  class="text-center">
              <button class="btn btn-outline-info">Ver</button>
              <button class="btn btn-outline-primary">Editar</button>
              <button class="btn btn-outline-danger">Eliminar</button>
            </th>
        </tr>
      </tbody>
    </table>



