<!-- <form class="space-elements">
  <h2 class="main-container">{{ title }}</h2>
  <hr>

  <div class="form-group">
      <label>Nombre: </label>
      <input type="text" class="form-control" >
  </div>

  <div class="form-group">
     <label for="">Dirección</label> 
     <textarea name="" id="" rows="3" class="form-control"></textarea> 
  </div>


</form>

<h3>Pisos</h3>


<div class="row space-elements">




  <div class="col-md-12 space-elements">
      <div class="input-group">
        <select name="" id="" class="form-control" [(ngModel)]="typeSel" >
            <option *ngFor="let item  of  enumType ; let i = index" [value]="item"> {{ item }} </option>        
        </select>
          <input  [(ngModel)]="quantitySel" type="number" class="form-control" placeholder="cantidad">

          <div class="input-group-prepend">
              <button class="btn btn-outline-primary" (click)="addPisos(typeSel, quantitySel)">Agregar</button>
          </div>
      </div>
  </div>



</div>




<table class="table">
  <thead class="thead-dark">
      <tr>
          <th scope="col">#</th>
          <th scope="col">Tipo</th>
          <th scope="col">Cantidad</th>
          <th scope="col" class="text-center">Opciones</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of collection; let i=index">
          <th scope="row">1</th>
          <td> {{ item.type }} </td>
          <td> {{ item.quantity }} </td>
          <th scope="col" class="text-center">
              <button class="btn btn-outline-danger" ><i class="far fa-trash-alt"></i> </button>
          </th>
      </tr>

  </tbody>
</table>

<hr>

<div class="row">
  <div class="col-md-12 text-right" >
      <button class="btn btn-success" (click)=" goToContinue() ">
        Continuar <i class="fas fa-angle-right"></i>
      </button>

  </div>

</div> -->


<h2 class="main-container">{{ title }}</h2>
<hr>

<div class="row">
    <div class="col-md-6 space-elements">
        <div class="input-group">

            <input type="text" class="form-control" placeholder="Buscar..." aria-label="Input group example" aria-describedby="btnGroupAddon">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" id="btnGroupAddon">Buscar</button>
            </div>

        </div>
    </div>

    <div class="col-md-6 text-right space-elements">
        <a [routerLink]="['/newProjects']" class="btn btn-outline-success">Nuevo Proyecto</a>
    </div>

</div>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Inicio</th>
            <th scope="col">Status</th>
            <th scope="col">Supervisores</th>            

            <th scope="col" class="text-center">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of collection; let i = index">  
            <th scope="row"> {{ i+1 }} </th>
            <td>{{ item.name }}  </td>
            <td>{{ item.startDate | date:'dd/MM/yyyy' }}</td>
            <td>{{ item.status }}%</td>
            <td>{{ item.supervisor1.name + ", " + item.supervisor2.name }} </td>
 
            <th scope="col" class="text-center">
                <button class="btn btn-outline-info"><i class="fas fa-eye"></i></button>
                <button class="btn btn-outline-primary" (click)="edit(item._id)"><i class="fas fa-edit"></i></button>
                <button class="btn btn-outline-danger"><i class="far fa-trash-alt"></i></button>
            </th>
        </tr>

    </tbody>
</table>