<app-form-subtask *ngIf="userTemp.role.match('ADMINISTRADOR') || userTemp.role.match('CARGA')" #subTask title="Editar Tarea" [idSubTask]="idSubTask">
</app-form-subtask>


<div *ngIf="userTemp.role.match('ADMINISTRADOR') || userTemp.role.match('CARGA')" class="row">
    <div class="col-md-12 text-right">
        <button (click)="save(subTask.getSubTask())" class="btn btn-secondary" [disabled]="!subTask.form.valid">
                Guardar
           </button>
        <button class="btn btn-secondary" (click)="back()">Regresar</button>
    </div>
</div>