

<form action="" [formGroup]= "form"  class="space-elements">
    <h2> {{ title }} </h2> 
    <hr>

    <combo-tasks title="Faenas" formControlName="task"></combo-tasks>
  
    <div class="form-group">
      <label for="">Nombre</label>
      <input [ngClass]="{'is-invalid':!form.controls['name'].valid && !form.get('name').pristine }"
             type="text" class="form-control" formControlName="name">

      <div *ngIf="!form.get('name').errors?.valid && !form.get('name').pristine"
           class="invalid-feedback">
            El nombre es obligatorio
       </div>        
    </div>
  
    <div class="form-group">
      <label for="">Posición</label>
      <input  [ngClass]="{'is-invalid':!form.get('position').valid && !form.get('position').pristine } "  
              type="number" class="form-control" formControlName="position">
      <div *ngIf=" form.get('position').errors?.required && !form.get('position').pristine"
          class="invalid-feedback">
          El campo no puede estar vacío y debe ser numerico 
      </div> 
      <div *ngIf="(form.get('position').errors?.max || form.get('position').errors?.min)  && !form.get('position').pristine"
        class="invalid-feedback">
        Valores permitidos entre 1 - 1000 
      </div>   

    </div>
    
   
    
  
  </form> 
