<br>

<div class="space-elements main-container table">
    <h1 style="color: #000;">
        Indicadores de Proyectos
    </h1>

</div>
<hr>
<br>


<div class="row">
    
        <div class="col-sm-6">
            <!-- <div class="card">
                <div class="card-body">
                <h5 class="card-title">Avance de proyectos</h5> -->
                <app-bar-chart  ></app-bar-chart>
                <br>
                <p class="font-weight-light text-center">Porcentaje de avance de los proyectos</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                <!-- </div>
            </div> -->
        </div>

        <div class="col-sm-6">
                <!-- <div class="card">
                    <div class="card-body">
                    <h5 class="card-title"> <p style="font-weight: 50;">Horas por Proyectos</p> </h5> -->
                    <app-doughnut-chart></app-doughnut-chart>
                    <br>
                    <p class="font-weight-light text-center">Horas invertidas en los proyectos</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    <!-- </div>
                </div> -->
            </div>


</div>


<br>

<h1>Proyectos</h1>

<hr>
<br>


<div class="row animated fadeIn fast">
    <div *ngFor="let item of collection; let i = index" class="col-sm-4">
        <div style="margin-top: 10%;">
            <div (click)="viewGantt(i)" class="c100 p{{ item.status | number: '1.0-0' }}" style="cursor: pointer;">
                <span>{{ item.status | number }}%</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
            <h3>{{ item.name }}</h3>
            <strong>Fecha Inicio:</strong> {{ item.startDate | date: "dd/MM/yyyy" }}<br/>
            <strong>Constructora:</strong> {{ item.builder }}<br/>
            <strong>Dirección:</strong> {{ item.adress }}<br/>
        </div>
    </div>
</div>