<br>

<div class="space-elements main-container table">
    <h3 style="color: #000;">
        Bienvenido, selecciona un proyecto para consultar:
    </h3>

</div>
<br>

<div class="row animated fadeIn fast">
    <div *ngFor="let item of collection; let i = index" class="col-sm-4">
        <div style="margin-top: 10%;">
            <div (click)="viewGantt(i)" class="c100 p{{ item.status | number: '1.0-0' }}" style="cursor: pointer;">
                <span>{{ item.status | number }}%</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
            <strong>Proyecto:</strong> {{ item.name }}<br/>
            <strong>Fecha Inicio:</strong> {{ item.startDate | date: "dd/MM/yyyy" }}<br/>
            <strong>Constructora:</strong> {{ item.builder }}<br/>
            <strong>Dirección:</strong> {{ item.adress }}<br/>
        </div>
    </div>
</div>