<h2 class="space-elements">
    Edición de horas</h2>
<div *ngIf="userTemp.role.match('ADMINISTRADOR') || userTemp.role.match('CARGA')" class="card animated fadeIn fast">
    <div class="card-body">
        <h5 class="card-title col-md-12"><i class="fas fa-filter configureIcon"></i> Filtros de la consulta </h5>
        <div class="row">
            <div class="form-group col-md-4">
                <label>Proyecto </label>
                <combo [url]="urlProjects" nameCollection="projects" labelField="name" (change)="loadData()" [(ngModel)]="project"></combo>
            </div>
            <div class="form-group col-md-4">
                <label>Desde </label>
                <input class="form-control" type="date" [(ngModel)]="fromDate">
            </div>

            <div class="form-group col-md-4">
                <label>Hasta </label>
                <input class="form-control" type="date" [(ngModel)]="toDate">
            </div>


        </div>
    </div>
</div>

<div *ngIf="userTemp.role.match('ADMINISTRADOR') || userTemp.role.match('CARGA')" class="text-right main-container">
    <button class="btn btn-secondary" (click)="loadData()">Buscar</button>
</div>


<h3 class="space-elements">Empleados</h3>

<table *ngIf="userTemp.role.match('ADMINISTRADOR') || userTemp.role.match('CARGA')" class="table table-striped main-container animated fadeIn fast">
    <thead class="">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Empleado </th>
            <th scope="col">Piso/Nivel </th>
            <th scope="col">Tipo </th>
            <th scope="col">Faena </th>
            <th scope="col">Tarea </th>
            <th scope="col">Fecha </th>
            <th scope="col">Horas </th>
            <th scope="col" class="text-center">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of collection; let i = index">
            <th scope="row"> 1 </th>
            <td>{{ item.employee['name'] }}</td>
            <td>
                <p *ngIf="item.commonService && item.commonService.type.match('SUBTERRANEOS')">SUBTERRANEO {{ item['commonService'].number }} </p>
                <p *ngIf="item.commonService && item.commonService.type.match('EMPLAZAMIENTOS')">EMPLAZAMIENTO {{ item['commonService'].number }} </p>
                <p *ngIf="item.commonService && item.commonService.type.match('PISOS S.C')">PISO S.C {{ item['commonService'].number }} </p>
                <p *ngIf="item.floor">PISO {{ item['floor'].number }} - DEPTO {{ item['floor'].number }}{{ item['department'].number | number:'2.0'}}</p>
            </td>
            <td> {{ item['task'].type }} </td>
            <td> {{ item['task'].name }} </td>
            <td> {{ item.subTask.name }} </td>
            <td> {{item['recordDate'] | date: "dd/MM/yyyy" }} </td>
            <td> <input class="form-control" type="number" [(value)]="item['hoursWorked']" (keyup)="updateElement(i, $event.target.value )" (change)="updateElement(i, $event.target.value )"> </td>

            <th scope="col" class="text-center">
                <!-- <button class="btn btn-outline-primary" ><i class="fas fa-edit"></i></button> -->
                <button class="btn btn-secondary" (click)="saveOne(i)"><i class="far fa-save"></i></button>
                <button class="btn btn-secondary" (click)="delete(i)"><i class="far fa-trash-alt"></i></button>
            </th>
        </tr>

    </tbody>
</table>

<pagination *ngIf="userTemp.role.match('ADMINISTRADOR') || userTemp.role.match('CARGA')" #p [(ngModel)]="collection" [url]="urlEmployyeeSub" [term]="term" collectionName="projects" [totalRecords]="totalRecords"></pagination>