<form class="main-container" [formGroup]="form" >

  <div class="form-group">
    <label for="">Proyecto: </label>
    <combo [url] = "urlProjects"  labelField ="name" nameCollection="projects" formControlName = "project" (change) ="updateId()" > 

    </combo>    
  </div>

  <div  class="form-group">
      <label for="">Empleado: </label>
      <combo [url] = "urlEmployees" formControlName="employee" labelField ="employee.rut, employee.name" 
                    nameCollection="employeeProjects" nameFather = "project"  [(idFather)] = "idProject"></combo> 
  </div>
 



  <div class="form-group ">
      <label>Area: </label>
      <select class="form-control"  formControlName ="area" >
          <option *ngFor="let item  of  enumType ; let i = index" [value]="item"> {{ item }} </option>        
      </select>
      
  </div>

  <div >

    <div *ngIf="form.get('area').value == 'DEPARTAMENTOS'  && idProject " class="row" >
        <div class="form-group col"  >
            <label for="">Pisos</label>
            <combo [url] = "urlFloors" formControlName="floor" labelField ="number, type" (change) = "updateIdFloor()"
                        nameCollection="floors" nameFather = "project"  [(idFather)] = "idProject" separator=" - " ></combo>    
        </div>

        <div class="form-group col"  >
            <label for="">Departamentos</label>
            <combo [url] = "urlDepartments" formControlName="department" labelField ="number" 
                        nameCollection="departments" nameFather = "floor"  [(idFather)] = "idFloor"   ></combo>    
        </div> 
        
        <div class="form-group col"  >
            <label for="">Tareas</label>
            <combo [url] = "urlDepartments" formControlName="department" labelField ="number" 
            nameCollection="departments" nameFather = "floor"  [(idFather)] = "idFloor"   ></combo>    
        </div> 
        
        <div class="text-right main-container">  
            <button class="btn btn-outline-success">Agregar</button>
        </div>
    
        
    </div>




   
  </div>
  


  <table class="table table-striped main-container ">
      <thead class="">
          <tr>
              <th scope="col">#</th>
              <th scope="col">Empleado </th>
              <th scope="col">Area </th>
              <th scope="col">Tarea </th>
              <th scope="col">Fecha </th>
              <th scope="col">Horas </th>
              <th scope="col" class="text-center">Opciones</th>
          </tr>
      </thead>
      <tbody>
          <tr >
              <th scope="row"> 1 </th>
              <td>Kenny Capote </td>
              <td>Departamentos </td>
              <td>tarea 1 </td>
              <td>12/12/2018 </td>
              <td>9-</td>

              <th scope="col" class="text-center">
                  <button class="btn btn-outline-primary" ><i class="fas fa-edit"></i></button>
                  <button class="btn btn-outline-danger" ><i class="far fa-trash-alt"></i></button>
              </th>
          </tr>
  
      </tbody>
  </table>

